@* Generator: Template TypeVisibility: public GeneratePrettyNames: True DisableLinePragmas: true  Namespace: AutoPocoIO.Dashboard.Pages *@

@using AutoPocoIO.Middleware
@using AutoPocoIO.Dashboard.ViewModels;
@inherits RazorPage

    <div class="container pt-4 mt-5">
        <h1>
            Request History
        </h1>
        <hr />
        <table class="table table-hover mt-5">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Request Time</th>
                    <th scope="col">Type</th>
                    <th scope="col">Requester</th>
                    <th scope="col">Connector</th>
                    <th scope="col">Resouce</th>
                    <th scope="col">Resource Key</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in (IEnumerable<RequestGridViewModel>)ViewBag["requests"])
                {
                <tr>
                    <th scope="row">@row.DateTimeUtc</th>
                    <td>
                        <span class="badge badge-pill" style="color:#fff;background-color:
                                @switch (row.RequestType)
                                {
                                    case "GET": @("#1b5168")
                                        break;
                                    case "DELETE": @( "#C0324A")
                                        break;
                                    case "POST": @( "#1B7B7F")
                                        break;
                                    case "PUT": @("#ffba00")
                                        break;
                                };">
                            @row.RequestType
                        </span>
                    </td>
                    <td>@row.Requester</td>
                    <td>@row.Connector</td>
                    <td>@row.Resource</td>
                    <td>@row.ResourceId</td>
                    <td style="color: @if (row.Status == "HTTP 200 : OK" || row.Status == "HTTP 302 : Found") { @("green")} else { @("red")} ">@(row.Status)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>