@page
@model AspNetCoreSample.Pages.Order.EditModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Order Details</h2>

<div>
    <form method="post">
        <input type="hidden" asp-for="item.Order_Id" />
        <div class="form-group">
            <label>Order Number</label>
            <span class="form-text">@Html.DisplayFor(c => c.item.Order_Id)</span>
        </div>
        <div class="form-group">
            <label>Customer</label>
            <select name="item.Customer_Id" asp-for="item.Customer_Id" asp-items="Model.Customers" class="form-control"></select>
            <span asp-validation-for="item.Customer_Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Store</label>
            <select name="item.Store_Id" asp-for="item.Store_Id" asp-items="Model.Stores" class="form-control"></select>
            <span asp-validation-for="item.Store_Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Sales Rep</label>
            <select name="item.Staff_Id" asp-for="item.Staff_Id" asp-items="Model.SalesReps" class="form-control"></select>
            <span asp-validation-for="item.Staff_Id" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Order Status</label>
            <input asp-for="item.Order_Status" class="form-control" />
            <span asp-validation-for="item.Order_Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <h4>Products Ordered</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.item.Order_itemsListFromOrder_id)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(c => product.ProductsObjectFromProduct_Id.Product_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(c => product.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(c => product.RetailPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(c => product.ItemTotal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
