@* Generator: Template TypeVisibility: internal GeneratePrettyNames: True DisableLinePragmas: true  Namespace: AutoPocoIO.Dashboard.Pages *@

@using AutoPocoIO.Middleware
@using AutoPocoIO.Dashboard.ViewModels;
@using AutoPocoIO.Models;

@inherits RazorPage

@{
    var Model = (TableDefinition)ViewBag["model"];
    var Navs = (IEnumerable<NavigationPropertyViewModel>)ViewBag["navs"];
}

    <div class="container pt-4 mt-5">
        <h2>
            Data Dictionary - @Model.Name
        </h2>
        <hr />
        <table class="table table-hover selectable mt-3">
            <thead>
                <tr class="table-secondary">
                    <th>Column Name</th>
                    <th>Type</th>
                    <th>Primary Key</th>
                    <th>Forigen Key</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Columns)
                {
                    <tr>
                        <td>@row.Name</td>
                        <td>@row.Type</td>
                        <td>@(row.IsPrimaryKey ? "Yes" : "No")</td>
                        <td>@(row.IsForigenKey ? "Yes" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table table-hover selectable mt-3">
            <thead>
                <tr class="table-secondary">
                    <th>Navigation Property</th>
                    <th>Relationship Type</th>
                    <th>Referenced Schema</th>
                    <th>Referenced Table</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Navs)
                {
                <tr>
                    <td>@row.Name</td>
                    <td>@row.Relationship</td>
                    <td>@row.ReferencedSchema</td>
                    <td>@row.ReferencedTable</td>
                </tr>
                }
            </tbody>
        </table>

    </div>
